@font-face {
  font-family: "robotothin";
  src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: "robotomedium";
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "robotolight";
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "robotobold";
  src: url(../fonts/Roboto-Bold.ttf);
}

$font_thin: robotothin, sans-serif;
$font_light: robotolight, sans-serif;
$font_medium: robotomedium, sans-serif;
$font_bold: robotbold, sans-serif;
$yellow1: #ffd800;
$yellow2: #ffe347;
$darkblue: #191b29;
$whitetext: #ffffff;
$whitebg: #fcfcfc;

@mixin title1 {
  font-family: $font_thin;
}

@mixin title2 {
  font-family: $font_bold;
  letter-spacing: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  background: url(../images/stars.png) center/cover fixed;
}

.btn {
  background: #ffd800;
  border: 2px solid transparent;
  height: 45px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: $font_bold;
  font-weight: 700;
  padding: 0 20px;
}
