@font-face {
  font-family: "robotothin";
  src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: "robotomedium";
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "robotolight";
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "robotobold";
  src: url(../fonts/Roboto-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  border-top: 5px solid #ffd800;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  background: url(../images/stars.png) center/cover fixed;
  overflow-x: hidden;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.btn {
  background: #ffd800;
  border: 2px solid transparent;
  border-radius: 4px;
  height: 45px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: robotbold, sans-serif;
  font-weight: 700;
  padding: 0 20px;
}

header {
  min-height: 100vh;
  color: #ffffff;
  font-family: robotolight, sans-serif;
  overflow: hidden;
}
header nav {
  margin: 20px auto;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}
header nav h3 {
  cursor: pointer;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav ul li {
  padding: 10px 15px;
  font-size: 0.7rem;
  cursor: pointer;
}
header nav ul li:hover {
  background: #ffd800;
  border-radius: 2px;
  color: #191b29;
  font-weight: 800;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}
header .header-content h2 {
  font-family: robotothin, sans-serif;
  font-size: 2.3rem;
}
header .header-content h2:nth-child(1) {
  font-weight: 100;
}
header .header-content h2:nth-child(2) {
  font-size: 5rem;
}
header .header-content form {
  margin: 50px auto;
}
header .header-content form input[type=text]:focus {
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}
header .header-content form input[type=text] {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.363);
  border-radius: 4px;
  height: 45px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
header .header-content form input[type=text]::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  text-transform: uppercase;
}
header .header-content form input[type=text]::-moz-placeholder {
  color: #ffffff;
  opacity: 0.7;
  text-transform: uppercase;
}
header .header-content form input[type=text]:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  text-transform: uppercase;
}
header .header-content form input[type=text]::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  text-transform: uppercase;
}
header .header-content form input[type=text]::placeholder {
  color: #ffffff;
  opacity: 0.7;
  text-transform: uppercase;
}
header .header-content form input[type=button] {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
header .header-content form input[type=button]:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

main #services {
  background: #191b29;
}
main #services .container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  color: #ffffff;
}
main #services .container .image_container img {
  width: 100%;
  margin-top: -120px;
  z-index: 100;
}/*# sourceMappingURL=index.css.map */