@font-face {
  font-family: "robotothin";
  src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: "robotomedium";
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "robotolight";
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "robotobold";
  src: url(../fonts/Roboto-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  border-top: 5px solid #ffd800;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  background: url(../images/stars.png) center/cover fixed;
  overflow-x: hidden;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

p {
  font-family: robotolight, sans-serif;
  font-size: 0.7rem;
  font-weight: lighter;
  line-height: 20px;
}

.btn {
  background: #ffd800;
  border: 2px solid transparent;
  border-radius: 3px;
  height: 45px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: robotbold, sans-serif;
  font-weight: 700;
  padding: 0 20px;
}

header {
  min-height: 100vh;
  color: #ffffff;
  font-family: robotolight, sans-serif;
  overflow: hidden;
}
header nav {
  margin: 20px auto;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}
@media screen and (max-width: 806px) {
  header nav {
    margin: 20px 20px;
  }
}
header nav h3 {
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 580px) {
  header nav ul {
    display: none;
  }
}
header nav ul li {
  padding: 10px 15px;
  font-size: 0.7rem;
  cursor: pointer;
}
header nav ul li:hover {
  background: #ffd800;
  border-radius: 2px;
  color: #191b29;
  font-weight: 800;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}
header .header-content h2 {
  font-family: robotolight, sans-serif;
  font-size: 2.3rem;
}
header .header-content h2:nth-child(1) {
  font-weight: 100;
}
@media screen and (max-width: 806px) {
  header .header-content h2:nth-child(1) {
    font-size: 1.5rem;
  }
}
header .header-content h2:nth-child(2) {
  font-size: 5rem;
}
@media screen and (max-width: 806px) {
  header .header-content h2:nth-child(2) {
    font-size: 2.5rem;
  }
}
header .header-content form {
  margin: 50px auto;
}
header .header-content form input[type=text]:focus {
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}
header .header-content form input[type=text] {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.363);
  border-radius: 4px;
  height: 45px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
@media screen and (max-width: 520px) {
  header .header-content form input[type=text] {
    display: block;
    width: 100%;
    margin: 5px auto;
  }
}
header .header-content form input[type=text]::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  text-transform: uppercase;
}
header .header-content form input[type=text]::-moz-placeholder {
  color: #ffffff;
  opacity: 0.7;
  text-transform: uppercase;
}
header .header-content form input[type=text]:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  text-transform: uppercase;
}
header .header-content form input[type=text]::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  text-transform: uppercase;
}
header .header-content form input[type=text]::placeholder {
  color: #ffffff;
  opacity: 0.7;
  text-transform: uppercase;
}
header .header-content form input[type=button] {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
@media screen and (max-width: 520px) {
  header .header-content form input[type=button] {
    display: block;
    width: 100%;
    margin: 5px auto;
  }
}
header .header-content form input[type=button]:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

main #services {
  background: #191b29;
}
main #services .container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  color: #ffffff;
}
@media screen and (max-width: 806px) {
  main #services .container {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 540px) {
  main #services .container {
    padding-top: 5px;
    display: block;
  }
}
@media screen and (max-width: 806px) {
  main #services .container .image_container {
    display: none;
  }
}
main #services .container .image_container img {
  width: 100%;
  margin-top: -120px;
  z-index: 100;
}
main #services .container .text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  margin: 60px 40px;
}
@media screen and (max-width: 540px) {
  main #services .container .text_container {
    margin: 20px 40px 0;
  }
}
main #services .container .text_container .text {
  margin-bottom: 40px;
}
main #services .container .text_container .text .titre {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 20px;
}
main #services .container .text_container .text .titre i {
  font-size: 2rem;
  color: #ffd800;
}
main #services .container .text_container .text .titre h3 {
  font-family: robotolight, sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  margin: 5px 10px;
}
main #services .container .text_container .text p {
  opacity: 0.5;
}
main #team {
  background: #ffd800;
  padding-top: 60px;
  padding-bottom: 60px;
}
main #team .container {
  max-width: 750px;
  margin: 0 auto;
}
main #team .container h2 {
  font-family: robotolight, sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 2rem;
}
main #team .container h3 {
  font-family: robotbold, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 60px;
}
main #team .container .card-container {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  -webkit-column-gap: 4%;
     -moz-column-gap: 4%;
          column-gap: 4%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  main #team .container .card-container {
    display: block;
  }
}
main #team .container .card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  main #team .container .card-container .card {
    margin-bottom: 20px;
  }
}
main #team .container .card-container .card .img-container {
  height: 80px;
  width: 80px;
  border-radius: 250px;
  background: #fcfcfc;
  margin-bottom: 20px;
}
main #team .container .card-container .card .img-container #img1 {
  width: 100%;
  height: 100%;
  background: url(../images/Layer\ 4\ copy\ 3.png) center/cover;
}
main #team .container .card-container .card .img-container #img2 {
  width: 100%;
  height: 100%;
  background: url(../images/Layer\ 6.png) center/cover;
}
main #team .container .card-container .card .img-container #img3 {
  width: 100%;
  height: 100%;
  background: url(../images/Layer\ 7.png) center/cover;
}
main #team .container .card-container .card .img-container #img4 {
  width: 100%;
  height: 100%;
  background: url(../images/Layer\ 8.png) center/cover;
}
main #team .container .card-container .card h4 {
  font-family: robotbold, sans-serif;
  margin-bottom: 15px;
}
main #team .container .card-container .card p {
  opacity: 0.8;
}
main #app {
  position: relative;
}
main #app::before {
  content: "";
  height: 500px;
  width: 600px;
  background: url(../images/MacBook\ Gold.png) center/cover;
  position: absolute;
  z-index: 200;
  right: 0;
}
@media screen and (max-width: 920px) {
  main #app::before {
    display: none;
  }
}
main #app .container {
  max-width: 730px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media screen and (max-width: 920px) {
  main #app .container {
    padding-left: 30px;
  }
}
main #app .container h4 {
  font-family: robotbold, sans-serif;
  margin-bottom: 10px;
}
main #app .container p {
  text-align: left;
  max-width: 300px;
}
main #app #app1 {
  background: #ffe347;
  padding-top: 30px;
  padding-bottom: 30px;
}
main #app2 {
  background: #fcfcfc;
  padding-top: 60px;
  padding-bottom: 100px;
}
main #app2 p {
  margin-bottom: 20px;
}
main #app2 .btn {
  background: #191b29;
  color: #ffffff;
}
main #works {
  padding-top: 80px;
  padding-bottom: 60px;
}
main #works .container {
  max-width: 730px;
  margin: 0 auto;
}
main #works .container h2,
main #works .container h3,
main #works .container h4,
main #works .container p {
  color: #ffffff;
}
main #works .container h2 {
  font-family: robotolight, sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 2rem;
}
main #works .container h3 {
  font-family: robotbold, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 60px;
}
main #works .container .card-container {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  -webkit-column-gap: 4%;
     -moz-column-gap: 4%;
          column-gap: 4%;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 480px) {
  main #works .container .card-container {
    display: block;
  }
}
main #works .container .card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  main #works .container .card-container .card {
    margin-bottom: 20px;
  }
}
main #works .container .card-container .card .icone {
  margin-bottom: 20px;
}
main #works .container .card-container .card .icone i {
  color: #ffd800;
  font-size: 3rem;
}
main #works .container .card-container .card h4 {
  font-family: robotbold, sans-serif;
  margin-bottom: 15px;
}
main #works .container .card-container .card p {
  opacity: 0.8;
}

footer {
  background: #191b29;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 80px;
}
footer .container {
  max-width: 730px;
  margin: 0 auto;
}
footer .container #list {
  display: grid;
  grid-template-columns: repeat(4, 10%);
  -webkit-column-gap: 20%;
     -moz-column-gap: 20%;
          column-gap: 20%;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 760px) {
  footer .container #list {
    grid-template-columns: repeat(4, 20%);
    -webkit-column-gap: 5%;
       -moz-column-gap: 5%;
            column-gap: 5%;
  }
}
@media screen and (max-width: 400px) {
  footer .container #list {
    display: none;
  }
}
footer .container #list .text-list p {
  opacity: 1;
}
footer .container p {
  opacity: 0.4;
}/*# sourceMappingURL=index.css.map */