header {
  min-height: 100vh;
  color: $whitetext;
  font-family: $font_light;
  overflow: hidden;

  nav {
    margin: 20px auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    h3 {
      cursor: pointer;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        padding: 10px 15px;
        font-size: 0.7rem;
        cursor: pointer;

        &:hover {
          background: $yellow1;
          border-radius: 2px;
          color: $darkblue;
          font-weight: 800;
          transition: 0.5s;
        }
      }
    }
  }
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

    h2 {
      @include title1;
      font-size: 2.3rem;

      &:nth-child(1) {
        font-weight: 100;
      }
      &:nth-child(2) {
        font-size: 5rem;
      }
    }

    form {
      margin: 50px auto;

      input[type="text"]:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255);
      }

      input[type="text"] {
        background: none;
        border: 1px solid rgba(255, 255, 255, 0.363);
        border-radius: 4px;
        height: 45px;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        color: $whitetext;
        transition: 0.5s ease;

        &::placeholder {
          color: $whitetext;
          opacity: 0.7;
          text-transform: uppercase;
        }
      }
      input[type="button"] {
        transition: 0.5s ease;

        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
}
